/*
@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot?-4p5c8t');
	src:url('../font/icomoon.eot?#iefix-4p5c8t') format('embedded-opentype'),
		url('../font/icomoon.woff?-4p5c8t') format('woff'),
		url('../font/icomoon.ttf?-4p5c8t') format('truetype'),
		url('../font/icomoon.svg?-4p5c8t#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/
